<!DOCTYPE html>
<html>
<head>
<meta name=blog content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

  <style>
  body {

  </style>


<h1><i>Riding Ruby on Rails</i></h1>

<h3><%= link_to 'Homepage', root_path%>
 | <%= link_to 'About', about_path%> | <%= link_to "Alpha Blog", articles_path%></h3>
<br>
  <br>
    <br>
<p>Welcome to my blog!</p>




</body>
</html>
