@import 'bootstrap/dist/css/bootstrap';
#logo {
  float: left;
  font-size: 1cm;
  color: #6666ff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

// .navbar-brand {
//   font-size: inherit;
//   background-color:#2d246d;
//   border-color:#2d246d;
//   color:#2d246d;
//   }
//  .navbar-collapse
//     {
//     background-color:#2d246d;
//     border-color:#2d246d;
//     color:#2d246d;
//      }
// .navbar-inverse .container {
//    background-color:#2d246d;
//    border-color:#2d246d;
//    color:#2d246d;
//    }
